MASSCAN_PATH=/usr/bin/masscan # Path to the masscan executable, if not defined defaults to /usr/bin/masscan

REDIS_HOST="Your redis database IP / URL"
REDIS_PORT=6379
REDIS_USER="Redis DB username"
REDIS_PASSWORD="Redis DB password"

SUPABASE_URL=https://xxxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx